* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #07081A;
}

.main {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #261C51;

}


.mainNav {
    padding: 14px 0px;
    max-width: 1040px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photoAndParaghrap {
    display: flex;
    gap: 12px;
    align-items: center;
}

.cloud {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.navigation {
    display: flex;
    gap: 16px;
    align-items: center;

}

a {
    text-decoration: none;
}

.home {
    color: #B968DE;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.nav {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.photo {
    border-radius: 8px;
    background: #9100D3;
    display: flex;
    align-items: center;

}

.paraghraps {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    margin-top: 88px;

}

.mainBox {
    display: flex;
    justify-content: center;
}

.quality {
    color: #FFF;

    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 52px;
}

.robot {
    color: #C0C0C0;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.button {
    padding: 12px 24px;
    border-radius: 8px;
    background: #9100D3;


}

.app {
    border: none;
    color: #FFF;
    background: #9100D3;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 88px;
}

.OdeaLabs {
    display: flex;
    align-items: center;
    color: #FFF;
    gap: 8px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.photoDiv {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 90px;
}

.box {
    display: flex;
    align-items: center;
    gap: 64px;
    max-width: 1040px;
    width: 100%;
}

.wrapperr {
    display: flex;
    padding: 16px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 8px;
    border: 1px solid #261C51;
    align-self: stretch;
    width: 304px;
}

.languange {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.parghraps {
    color: #C0C0C0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.wrapperBox {
    display: flex;
    justify-content: center;
}

.mainFooter {
    display: flex;
    justify-content: center;
    border-top: 1px solid #261C51;
    margin-top: 88px;

}

.footerBox {
    padding: 20px 0px;
    max-width: 1040px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cloudd {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.social {
    display: flex;
    gap: 24px;

}